@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .PriBtn{ 
        @apply rancho-regular border-2 rounded hover:rounded-full bg-transparent border-white transform duration-300 px-5 py-1 hover:bg-[#E3B577] hover:border-[#331a15] hover:text-[#331a15]
    }
    .outLinePriBtn{
        @apply border-2 rounded  bg-transparent transition-all transform duration-500 px-5 py-1 hover:rounded-full bg-[#E3B577] border-[#331a15] hover:text-[#331a15]
    }

}

* {
    box-sizing: border-box;
}

.rancho-regular {
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
}